.html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.body {
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
}

.peopleAndProjectsPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}