@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.profilePage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    background-attachment: fixed;
}

.profileCard {
    margin-top: 50px;
    background: #1b1739;
    color: #f0f0f0;
    width: 70%;
    max-width: 35%;
    min-width: 35%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.profileCardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #1b1739;
    width: 100%;
    padding: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #444;
}

.username {
    font-size: 24px;
    font-weight: 600;
    color: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.uploadBtn,
.editBtn,
.changePasswordBtn {
    font-size: 16px;
    color: white;
    background-color: #4444aa;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px 0;
}

.uploadBtn:hover,
.editBtn:hover,
.changePasswordBtn:hover {
    background-color: #5555bb;
}

.logoutBtn,
.deleteAccountBtn {
    width: 100%;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.logoutBtn {
    background-color: #4169E1;
}

.logoutBtn:hover {
    background-color: #3B5CB3;
}

.deleteAccountBtn {
    background-color: #914444;
}

.deleteAccountBtn:hover {
    background-color: #a15555;
}

.buttonWrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный цвет для фона */
}

.modalContent {
    background-color: #1f1f40;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.modalContent p {
    margin-bottom: 15px; /* Отступ снизу */
    color: #fff; /* Белый цвет текста */
}

.confirmButton,
.cancelButton {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background 0.3s ease;
    width: calc(50% - 10px); /* Ширина кнопок с отступом */
    box-sizing: border-box; /* Учитываем отступы в общей ширине */
}

.cancelButton {
    background: #aaa; /* Светло-серый цвет кнопки */
    color: #fff; /* Белый цвет текста */
}

.confirmButton {
    background: #e23b3b; /* Красный цвет кнопки */
    color: #fff; /* Белый цвет текста */
}

.confirmButton:hover,
.cancelButton:hover {
    opacity: 0.8; /* Понижаем прозрачность при наведении */
}

.infoSection,
.passwordSection,
.actionsSection {
    width: 90%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #333;
}

.infoItem,
.passwordItem {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center;
}

.label {
    font-weight: 600;
    color: #f0f0f0;
    flex: 1;
    min-width: 150px;
    margin-right: 10px;
    text-align: right;
}

.infoInput,
.passwordInput {
    font-size: 16px;
    font-weight: 400;
    color: #f0f0f0;
    flex: 2;
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #26243b;
}

::placeholder {
    color: #999;
}

@media screen and (max-width: 600px) {
    .profilePage {
        width: 90%;
    }

    .label {
        min-width: 120px;
    }

    .buttonWrapper {
        flex-direction: column;
    }

    .logoutBtn,
    .deleteAccountBtn {
        width: 100%;
    }
}
