.body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.myProjectsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.searchBar {
    display: flex;
    width: 75%;
    gap: 5px;
    flex-grow: 1;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #18181A;
    background: #fff;
    outline: none;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background: #366dbf;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    flex-shrink: 0;
    width: 170px;
    height: 50px;
    margin-left: 10px;
}

.button:hover {
    background: #25496b;
}

.myProjectsTitle {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.createButton {
    background: #1f8b3f;
}

.projectsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #1f1f40;
    border-radius: 5px;
    gap: 20px;
}

.projectImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.projectName {
    font-size: 18px;
    color: #fff;
}

.emptyProjects {
    text-align: center;
    color: #e23b3b;
    margin-top: 50px;
}
