.body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
}

.sidebar {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #27293d;
    height: 100vh;
    color: white;
}

.category {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 5px 0;
}

.category:hover, .activeCategory {
    background: #1f8b3f;
}

.content {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.mySpacePage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.searchBar {
    display: flex;
    width: 75%;
    gap: 10px;
    flex-grow: 1;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #18181A;
    background: #fff;
    outline: none;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background: #366dbf;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manageButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 25px;
    background: #1f8b3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.manageButton:hover {
    background: #145d2b;
}

.button:hover {
    background: #25496b;
}

.createButton {
    width: 250px;
    margin-left: 10px;
    background: #1f8b3f;
}

.mySpaceTitle {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.itemsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #1f1f40;
    border-radius: 5px;
    gap: 20px;
    position: relative;
    cursor: pointer;
}

.itemImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.itemContent {
    display: flex;
    flex-direction: column;
}

.itemName {
    font-size: 18px;
    color: #fff;
}

.itemDetail {
    font-size: 14px;
    color: #bbb;
}

.emptyItems {
    text-align: center;
    color: #e23b3b;
    margin-top: 50px;
}

.paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageButton {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    background: #366dbf;
    border-radius: 5px;
}

.pageButton:disabled {
    background: #999;
    cursor: not-allowed;
}

.pageNumber {
    color: #fff;
    margin: 0 10px;
}
