.admin-panel {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%; /* Ensure it uses up full width within max-width */
    border: 2px solid #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #4a90e2; /* Stylish blue background for the header */
    color: #fff; /* White color for text inside header */
    width: 100%;
}

.search-bar {
    display: flex;
    width: 100%; /* Forces the search bar to take up the full width */
    padding: 0 10px; /* Padding on the sides */
}

#searchInput {
    flex-grow: 1; /* Allows the input to take up all available space */
    padding: 10px;
    margin-right: 10px; /* Space between input and button */
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #18181a; /* Dark color for text for readability */
    background: #fff; /* White background for contrast */
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #366dbf; /* Slightly darker blue for the button */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #25496b; /* Even darker blue on hover */
}

.moderators-list-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    height: 70vh; /* Adjust height to accommodate header */
}

.moderator {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    background: #366dbf;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.moderator:hover {
    background: #25496b;
}

.field-name {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

.field-value {
    display: inline-block;
}

.delete {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
}

.delete:hover {
    color: #ff0000;
}

.info {
    font-size: 14px;
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
