.admin-panel {
    width: 80%;
    margin: 50px auto auto;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
}

.moderators-list {
    border: 1px solid #ddd;
    padding: 10px;
}

.moderator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.moderator-name {
    flex-grow: 1;
}

.delete {
    cursor: pointer;
    color: red;
}
