@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.html, .body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.body {
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    background-attachment: fixed;
}

.eventsCalendarPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: auto;
}

.title {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.calendar {
    width: 100%;
    max-width: 900px;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.calendar .react-calendar__navigation button {
    color: white;
    background-color: #4a90e2;
    min-width: 44px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}


.calendar .react-calendar__tile {
    height: 80px;
    padding: 10px;
    border-radius: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #18181A;
}

.calendar .react-calendar__tile:enabled:hover,
.calendar .react-calendar__tile--hover {
    background-color: #d4d4d4;
}

.calendar .react-calendar__tile--now {
    background: #f3f4f6;
    color: #e23b3b;
}

.calendar .react-calendar__tile--active {
    background: #4a90e2;
    color: white;
}

.calendar .react-calendar__tile--active:enabled:hover,
.calendar .react-calendar__tile--active:enabled:focus {
    background: #377ab8;
    color: white;
}

.today {
    background: #e23b3b !important;
    color: white;
}

.eventList {
    margin-top: 20px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #333;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.eventList ul {
    list-style: none;
    padding: 0;
}

.eventList li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.eventList li:last-child {
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    .calendar {
        width: 100%;
    }
}
