/* Стили для основных элементов страницы */
.html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    font-family: 'Montserrat', sans-serif;
}

/* Стили для контейнера страницы с календарем и его содержимого */
.eventsCalendarPage {
    height: 100vh; /* Занимает всю высоту видимой области страницы */
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

/* Стили для заголовка */
.title {
    color: white;
    margin-bottom: 20px;
}

/* Стили для календаря */
.calendar {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px; /* Добавляем внутренние отступы */
}

/* Стили для содержимого календаря */
.calendar .react-calendar__year-view,
.calendar .react-calendar__decade-view,
.calendar .react-calendar__century-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar .react-calendar__month-view {
    flex-grow: 1; /* Растягиваем содержимое на всю доступную высоту */
    display: flex; /* Добавляем свойство для растяжения содержимого */
}

/* Стили для ячеек с днями недели */
.calendar .react-calendar__month-view__days {
    flex: 1;
}

/* Стили для навигационных кнопок */
.calendar .react-calendar__navigation {
    align-self: flex-start;
}

/* Стили для ячеек дат в календаре */
.calendar .react-calendar__tile {
    display: flex; /* Убираем фиксированную высоту ячеек */
    align-items: center;
    justify-content: center;
    background: white;
    color: #18181A;
}

/* Стили для текста в навигационных кнопках календаря */
.calendar .react-calendar__navigation__label {
    color: white;
}

/* Стили для текущей даты */
.calendar .react-calendar__tile--now {
    background: #f0e130;
}

/* Стили для активной (выбранной) даты */
.calendar .react-calendar__tile--active {
    background: #4a90e2;
    color: white;
}

/* Стили для сегодняшней даты */
.today {
    background: #e23b3b !important;
    color: white;
    border-radius: 8px;
}
