@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

::selection {
    background: #4158d0;
    color: #fff;
}

.link-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 380px;
    margin-top: 100px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
}

.wrapper .title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: #4a90e2;
}

.wrapper form {
    padding: 10px 30px 50px 30px;
}

.wrapper form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.wrapper form .field label {
    position: absolute;
    top: 0%; /* Поднять наверх */
    left: 20px;
    color: #4158d0; /* Синий цвет текста для активности */
    font-weight: 400;
    font-size: 14px; /* Меньший размер текста */
    background: #fff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #4a90e2;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"]:active {
    transform: scale(0.95);
}

.wrapper form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

.wrapper form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
}
