
.html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    background-attachment: fixed;
}

.searchInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #26243b;
    color: #f0f0f0;
}

.chatPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.userList {
    margin-bottom: 10px;
}

.userPreview {
    padding: 10px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.userPreview:hover {
    background-color: #26243b;
}

.chatList {
    width: 300px;
    background: #1b1739;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    height: 90vh;
    overflow-y: auto;
}

.chatPreview {
    padding: 10px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.chatPreview:hover {
    background-color: #26243b;
}

.chatName {
    font-weight: 600;
}

.chatSnippet {
    font-size: 14px;
    color: #ccc;
}

.chatWindow {
    flex-grow: 1;
    background: #1b1739;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.chatContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatTitle {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
}

.myMessage {
    align-self: flex-end;
    background-color: #4caf50;
    color: white;
}

.otherMessage {
    align-self: flex-start;
    background-color: #333;
    color: white;
}

.messageSender {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageContent {
    word-wrap: break-word;
}

.messageTimestamp {
    font-size: 12px;
    color: #ccc;
    text-align: right;
    margin-top: 5px;
}

.messageInputContainer {
    display: flex;
}

.messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #26243b;
    color: #f0f0f0;
}

.sendButton {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #45a049;
}

.noMessages {
    color: #ccc;
    text-align: center;
}

.noChatSelected {
    text-align: center;
    color: #ccc;
}