:root {
    --primary-color: #4a90e2;
    --hover-primary-color: #377ab8;
    --background-color: #1b1739;
    --text-color: #ccc;
    --accent-color: #ffffff;
    --secondary-background: #242038;
    --divider-color: #333;
}

.html, .body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: var(--text-color);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.titleContainer {
    text-align: left;
}

.logo {
    width: 150px;
    height: 150px;
}

.logo {
    width: 150px;
    height: 150px;
}

.stageContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid var(--text-color);
    padding: 10px;
    margin-top: 20px;
}

.stage, .activeStage {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--text-color);
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.arrow {
    font-size: 24px;
    color: var(--text-color);
}

.descriptionCard {
    background: var(--secondary-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    width: 100%;
    text-align: justify;
}

.descriptionText {
    color: var(--accent-color);
}

.activeStage {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-weight: bold;
}

.description {
    text-align: justify;
    margin: 20px;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.projectMenu {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Занимает всю ширину родителя */
    margin-top: 20px; /* Отступ сверху */
    padding: 10px;
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.teamMember {
    background: var(--secondary-background);
    margin: 10px 0; /* Добавляет вертикальный отступ между элементами списка */
    padding: 10px;
    border-radius: 5px;
    color: var(--accent-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.teamList {
    list-style: none; /* Убирает маркеры у списка */
    padding-left: 0; /* Убирает отступ слева, который обычно предназначен для маркеров */
}

.likeButton {
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color);
    padding: 10px 20px;
    cursor: pointer;
    width: 33%; /* Adjusts each button to fill the width */
    text-align: center;
}

.menuButton {
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color);
    padding: 15px 20px; /* Увеличенные размеры для большей заметности */
    cursor: pointer;
    flex-grow: 1;
    margin: 0 10px; /* Добавление отступов между кнопками */
    font-size: 1.1rem; /* Увеличенный размер шрифта для лучшей читаемости */
}


.menuButton:hover, .likeButton:hover {
    background-color: var(--hover-primary-color);
}

.likeSection {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
